.container{
    display: flex;
    align-items: flex-start;
    justify-content:center;
    color:#ffffff;
    background-color: transparent;
    gap:calc(100%/3);
    margin: 10px 10px 10px 10px;
    font-size: xx-large;
    /* border:1px solid black; */
    border-radius: 5px;   
}
a{
    text-decoration: none !important;
    color:#ffffff;
    transform: scale(0.9);

}
a:hover{
    transition: 0.2s ease-in-out; 
    transform: scale(1.1);


}



/* @media screen and (min-width: 400px) {
    .container{
        display: flex;
        /* flex-direction: row; */
        /* align-items: center; */
        /* justify-content: center; */
        /* border: 1px solid white; */
        /* width: 300px;
        gap:calc(100%/5);
        color:#2f3c7e;
        height:max-content;
        transition: 2s ease-in; */
    