.mother{
    height:300px;
    width:300px;
    display: flex;
    /* gap:10px; */
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
}
.carousel-indicators {
    display: none;
  }

  @media (min-width:900px){
    .mother{
        height:400px;
        width:400px;
    }
  }