.heading, h1, h2, .work{
   width:95%;
   margin:10px auto 10px 10px;
    color:#fbeaeb
  }
  .carousel-social{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
  }