.mother{
    display:flex;
    gap:10px;
    margin-left:10px;
}
.icons{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbeaeb;
    border:0.5px solid #fafafafa;
    border-radius:5px;
    padding:5px;
    width:auto;
    text-align: center;
}
.name{
    /* color:#053ba6; */
    color: #202124;

}
.heading{
    text-align: left;
    /* border-bottom: 1px solid white;
    width:70px; */
}
h3{
    width: max-content;
}