.mother{
        display: flex;
        z-index: 2;
        position:fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        /* background-color:#2f3c7f; */
        background-color: #3c4043;
        box-shadow: 0px 0px 0px 0px #faeaeb;
        justify-content: center;
        align-items: center;
       /* flex-wrap: wrap; */
        /* border-radius: 5px; */
        padding:5px;
        /* border:1px solid white */
}
.header{
    width:100%;
    color:#fbeaeb
}
.icon{
    width:30px;
    height:30px;
    color:#fbeaeb;
    margin-right:20px;
}
.route{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-content: center; 
    align-items: center;
    /* color: #ffffff; */
}
button{
    position: relative;
    overflow: hidden;
    padding-bottom:10px;
    color:#fbeaeb;
    font-size: large;
    /* opacity: 0.5; */
    background-color: transparent;
    border: none;
    

}
button::after{
    content:"";
    display: block;
    height:4px;
    width:100%;
    background-color:#faeaeb;
    transform:scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
button:hover::after{
    transform: scaleX(1);
}


@media screen and (min-width:400px) {
    .route{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
    .mother{
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
}