.footer{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #fbeaeb;
    /* height: 60px; */
    width: 100%;
    color: #2f3c7e;
    align-content: center;
    flex-direction: column;  
    margin-top: 20px;
}

.name{
    margin-left:10px;
}
.terms{
    text-align: center;
}

@media (min-width:650px){
    .footer{
        display:flex;  
        flex-direction: row;
        justify-content: space-evenly;
  
    }
   
   
}