.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.logo{
    width:75px;
    height:auto;
    border-radius: 20px;
    /* box-shadow: 1px 2px 15px 0.4px#053ba6; */
}
.heading{
    text-align: left;
    width:220px;
}

.myexp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding:10px;
    border:2px solid #faeaeb;
    border-radius: 20px;
    background-color: #faeaeb;
    color:#053ba6;
    gap:10px;
    box-shadow: 1px 1px 3px 1px#faeaeb;
    margin:auto;
}
h3{
    color:#053ba6;

}
.role{
    text-align: center;
    width: auto;
    
}
.certifications{
    margin-top: 20px;
}


@media (min-width:900px){
    .myexp{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        padding:10px;
        border:2px solid #faeaeb;
        border-radius: 20px;
        background-color: #faeaeb;
        color:#053ba6;
        gap:10px;
        box-shadow: 1px 1px 3px 1px#faeaeb;
        margin:auto;
        width:565px;
    }
    .column{
        flex-direction: row;
    }
    .experience{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-start;   
        gap: 25px;
    }
    .role{
        text-align: left;
        width: auto;
        
    }
  }