
body {
    font-family: 'Nunito', serif;
    /* background-color: #2f3c7e; */
    /* background-color:#3c4043; */
    background-color: #202124;
    
}
/* Setting the thumb color to yellow and the track color to light gray */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fbeaeb;
  }
  
  ::-webkit-scrollbar-track {
    /* background-color: #2f3c7e; */
    background-color: #202124;
  }
  