label{
    color:#fbeaeb;
    
}
button{
    width: auto;
    height: 40px;
    color:#2f3c7e;
    font-weight: 550;
    font-size: medium;
}
button:hover{
    color:#2f3c7e;
    transition-delay: 0.2s;
}